.carousel {
  position: relative;
  height: 500px;
} 
.carousel .item {
  height: 500px;
}

.carousel-inner > .item > img {
    position:absolute;
    height:100%;
    width:100%;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
}