{% extends 'base.html' %}

{% block title %}
IVGDb &middot; Developer | Cing
{% endblock title %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h1>Cing</h1></div>
	  <div class="panel-body">
			<img src="http://upload.wikimedia.org/wikipedia/en/9/99/Cing_Logo.svg" alt="Cing">
			</img>
	  </div>

	  <!-- List group -->
	  <ul class="list-group">
	    <li class="list-group-item"><b>Founded:</b> 1999</li>
	    <li class="list-group-item"><b>Company Size:</b> 29</li>
	    <li class="list-group-item"><b>Status:</b> Defunct</li>
	    <li class="list-group-item"><b>Platform(s):</b> <a href="nintendo_ds.html">Nintendo DS</a></li>
	    <li class="list-group-item"><b>Game(s):</b> <a href="hotel_dusk.html">Hotel Dusk: Room 215</a></li>
	  </ul>
	</div>

</div>
{% endblock content %}
