{% extends 'base.html' %}

{% block navbar_developer %} active {% endblock %}

{% block title %}
IVGDb &middot; Developers
{% endblock title %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Developers</h1></div>
        <div class="panel-body letter-nav" style="font-size: 18px; "align="center">
            {% for k in developer_dict %}
                <a href="#{{k}}">{{k}}</a>
                {% if not forloop.last %}
                 - 
                {% endif %}
            {% endfor %}
        </div>
        <ul class="list-group">
            {% for k, v in developer_dict.items %}
                <a id="{{k}}"class="list-group-item active">{{k}}</a>
                {% for d in v %}
                    <li class="list-group-item">
                        <img src="{{d.image_link1}}" height="50" width="50" />
                        <a href="/developer/{{d.pk}}">{{d.name}}</a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
