{% extends 'base.html' %}

{% block navbar_game %} active {% endblock %}

{% block title %}
IVGDb &middot; Games
{% endblock title %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Games</h1></div>
        <div class="panel-body" align="center">
            {% for k in game_dict %}
                <a href="#{{k}}">{{k}}</a>
                {% if not forloop.last %}
                 - 
                {% endif %}
            {% endfor %}
        </div>
        <ul class="list-group">
            {% for k, v in game_dict.items %}
                <a id="{{k}}" class="list-group-item active">{{k}}</a>
                {% for g in v %}
                    <li class="list-group-item">
                        <img src="{{g.image_link1}}" height="50" width="50" />
                        <a href="/game/{{g.pk}}">{{g.title}}</a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
