{% extends 'base.html' %}

{% block content %}
 <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Platform</a></li>
                    <li><a href="#">Games</a></li>
                  </ul>
                </div>
              </div>
  		</div>
  <div class="container jumbotron">
    <h1>IVGDb</h1>

    <p>The Internet Video Game Database</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
{% endblock content %}
