{% extends 'base.html' %}

{% block navbar_home %} active {% endblock %}

{% block title %}
IVGDb &middot; Home
{% endblock title %}

{% block content %}
<div class="container jumbotron">
    <h1>IVGDb</h1>
    <p>The Internet Video Game Database</p>
    <p><a class="btn btn-primary" role="button" href="http://www.cs.utexas.edu/users/downing/cs373/drupal/idb3/" target="_blank">Learn more</a></p>
    <p style="color:#707070; font-size: 110%; margin-top: 30px">By <strong>The Pirates of Silicon Valley</strong> 
    

    (<a href="http://www.linkedin.com/pub/noah-cho/47/264/726">Noah Cho</a>, 
    <a href="http://www.linkedin.com/in/cristhianescobar/">Cristhian Escobar</a>, 
    <a href="http://www.linkedin.com/pub/arash-ghoreyshi/47/685/a4a">Arash Ghoreyshi</a>, 
    <a href="http://www.linkedin.com/pub/doug-goldstein/49/373/976">Doug Goldstein</a>, 
    <a href="http://www.linkedin.com/pub/robert-hammond/79/14b/b96">Robert Hammond</a>, 
    and 
    <a href="http://www.linkedin.com/pub/richard-lage/63/794/853">Richard Lage</a>)  
    
    </p>
</div>
<div class="container jumbotron">
    <div class="row" >
        <ul style="list-style-type: none">
            <div class="col-sm-4">
                <li>
                    <h2>Developers</h2>
                       <ul style="list-style-type: none; margin-left: -30px">
                        {% for d in developer_list %}
                            <li><a href="/developer/{{ d.pk }}">{{d.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </div>
            <div class="col-sm-4">
                <li>
                    <h2>Platforms</h2>
                    <ul style="list-style-type: none; margin-left: -30px">
                        {% for p in platform_list %}
                            <li><a href="/platform/{{ p.pk }}">{{p.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </div>
            <div class="col-sm-4">
                <li>
                    <h2>Games</h2>
                    <ul style="list-style-type: none; margin-left: -30px">
                        {% for g in game_list %}
                            <li><a href="/game/{{ g.pk }}">{{g.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </div>
        </ul>
    </div>
</div>
{% endblock content %}
