{% extends 'base.html' %}

{% block title %}
IVGDb &middot; Game | Hotel Dusk: Room 215
{% endblock title %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h1>Hotel Dusk: Room 215</h1></div>
	  <div class="panel-body">
			<img src="http://upload.wikimedia.org/wikipedia/en/5/51/Hotel_Dusk.jpg" alt="Hotel Dusk: Room 215">
			</img>
	  </div>

	  <!-- List group -->
	  <ul class="list-group">
	    <li class="list-group-item"><b>Publisher:</b> Nintendo</li>
	    <li class="list-group-item"><b>US Release Date:</b> January 22, 2007</li>
	    <li class="list-group-item"><b>ESRB Rating:</b> T</li>
	    <li class="list-group-item"><b>Genre:</b> Point-and-click adventure</li>
	    <li class="list-group-item"><b>Developed by:</b> <a href="cing.html">Cing</a></li>
	    <li class="list-group-item"><b>Platform(s):</b> <a href="nintendo_ds.html">Nintendo DS</a></li>
	  </ul>
	</div>

</div>
{% endblock content %}
