<!DOCTYPE html>
<html>
	<head>
		<meta charset= "utf-8">
		<title>Developer | Infinity Ward</title>
	</head>

	<body>
		<h1>Infinity Ward</h1>	
		<img src="http://upload.wikimedia.org/wikipedia/en/6/67/New_Infinity_Ward_Logo%2C_2013.png" alt="Infinity Ward">
		<ul>
			<li><b>Founded:</b> 2002</li>
			<li><b>Company Size:</b> 125</li>
			<li><b>Status:</b> Active</li>
		</ul>

		<ul>
			<li><b>Platform(s):</b> <a href="nintendo_ds.html">Nintendo DS</a></li>
			<li><b>Game(s):</b> <a href="hotel_dusk.html">Hotel Dusk: Room 215</a></li>
		</ul>
	</body>
</html>