{% extends 'base.html' %}

{% block title %}
IVGDb &middot; Developer | Infinity Ward
{% endblock title %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h1>Infinity Ward</h1></div>
	  <div class="panel-body">
			<img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/en/6/67/New_Infinity_Ward_Logo%2C_2013.png" alt="Infinity Ward">
			</img>
	  </div>

	  <!-- List group -->
	  <ul class="list-group">
	    <li class="list-group-item"><b>Founded:</b> 2002</li>
	    <li class="list-group-item"><b>Company Size:</b> 125</li>
	    <li class="list-group-item"><b>Status:</b> Active</li>
	    <li class="list-group-item"><b>Platform(s):</b> <a href="xbox_360.html">Xbox 360</a></li>
	    <li class="list-group-item"><b>Game(s):</b> <a href="call_of_duty_4.html">Call of Duty 4: Modern Warfare</a></li>
	    <div class="row">
		    <div class="col-md-6">
	    		<li class="list-group-item">
	    			<div class="media-container">
	    				<b>Headquarters:</b><br />
				    	15821 Ventura Boulevard, <br />
				    	Suite 590, Encino, CA 91436<br />
				  		<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=15821+Ventura+Boulevard,+Suite+590,+Encino,+CA+91436&amp;aq=&amp;sll=34.70533,135.489699&amp;sspn=0.008758,0.016512&amp;g=1-1-30+Oyodonaka,+Kita-ku,+Osaka,+531-6108&amp;ie=UTF8&amp;hq=&amp;hnear=15821+Ventura+Blvd,+Encino,+California+91436&amp;ll=34.156041,-118.478162&amp;spn=0.002204,0.004128&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=15821+Ventura+Boulevard,+Suite+590,+Encino,+CA+91436&amp;aq=&amp;sll=34.70533,135.489699&amp;sspn=0.008758,0.016512&amp;g=1-1-30+Oyodonaka,+Kita-ku,+Osaka,+531-6108&amp;ie=UTF8&amp;hq=&amp;hnear=15821+Ventura+Blvd,+Encino,+California+91436&amp;ll=34.156041,-118.478162&amp;spn=0.002204,0.004128&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	    			</div>
	    		</li>
	    	</div>
    	</div>
	    <li class="list-group-item">
			
	   	</li>
	  </ul>
	</div>

</div>
{% endblock content %}
