<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
IVGDb &middot; Developer | Infinity Ward
{% endblock title %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h1>Infinity Ward</h1></div>
	  <div class="panel-body">
			<img src="http://upload.wikimedia.org/wikipedia/en/6/67/New_Infinity_Ward_Logo%2C_2013.png" alt="Infinity Ward">
			</img>
	  </div>

	  <!-- List group -->
	  <ul class="list-group">
	    <li class="list-group-item"><b>Founded:</b> 2002</li>
	    <li class="list-group-item"><b>Company Size:</b> 125</li>
	    <li class="list-group-item"><b>Status:</b> Active</li>
	    <li class="list-group-item"><b>Platform(s):</b> <a href="nintendo_ds.html">Nintendo DS</a></li>
	    <li class="list-group-item"><b>Game(s):</b> <a href="hotel_dusk.html">Hotel Dusk: Room 215</a></li>
	  </ul>
	</div>

</div>
{% endblock content %}
