{% extends 'base.html' %}

{% block title %}
IVGDb &middot; Platform | Nintendo DS
{% endblock title %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h1>Nintendo DS</h1></div>
	  <div class="panel-body">
			<img class="img-responsive" src="http://static.trustedreviews.com/94/9ca9c7/4f7f/5948-ds1.jpg" alt="Nintendo DS">
			</img>
	  </div>

	  <!-- List group -->
	  <ul class="list-group">
	    <li class="list-group-item"><b>Manufacturer:</b> Nintendo</li>
	    <li class="list-group-item"><b>Release Date:</b> November 21, 2004</li>
	    <li class="list-group-item"><b>Media:</b> Physical (cartridges) and digital</li>
	    <li class="list-group-item"><b>Generation:</b> 7th </li>
	    <li class="list-group-item"><b>Developer(s): </b> <a href="cing.html">Cing</a></li>
	    <li class="list-group-item"><b>Game(s):</b> <a href="hotel_dusk.html">Hotel Dusk: Room 215</a></li>
	  </ul>
	</div>

</div>
{% endblock content %}
