{% extends 'base.html' %}

{% block title %}
IVGDb &middot; Platform | Nintendo DS
{% endblock title %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h1>Nintendo DS</h1></div>
	  <div class="panel-body">
			<img class="img-responsive" src="http://static.trustedreviews.com/94/9ca9c7/4f7f/5948-ds1.jpg" alt="Nintendo DS">
			</img>
	  </div>

	  <!-- List group -->
	  <ul class="list-group">
	    <li class="list-group-item"><b>Manufacturer:</b> Nintendo</li>
	    <li class="list-group-item"><b>Release Date:</b> November 21, 2004</li>
	    <li class="list-group-item"><b>Media:</b> Physical (cartridges) and digital</li>
	    <li class="list-group-item"><b>Generation:</b> 7th </li>
	    <li class="list-group-item"><b>Developer(s): </b> <a href="cing.html">Cing</a></li>
	    <li class="list-group-item"><b>Game(s):</b> <a href="hotel_dusk.html">Hotel Dusk: Room 215</a></li>
	    <div class="row">
	    	<div class="col-md-6">
			    <li class="list-group-item"><iframe width="420" height="315" src="//www.youtube.com/embed/TaA-lYUQom0" frameborder="0" allowfullscreen></iframe></li>
	    	</div>
	    	<div class="col-md-6">
			    <li class="list-group-item">
						<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/NintendoDSNews" data-widget-id="446090501683294208">Tweets by @NintendoDSNews</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			    </li>
	    	</div>
	    </div>
	  </ul>
	</div>
</div>
{% endblock content %}
