{% extends 'base.html' %}

{% block navbar_platform %} active {% endblock %}

{% block title %}
IVGDb &middot; Platforms
{% endblock title %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Platforms</h1></div>
        <div class="panel-body" align="center">
            {% for k in platform_dict %}
                <a href="#{{k}}">{{k}}</a>
                {% if not forloop.last %}
                 - 
                {% endif %}
            {% endfor %}
        </div>
        <ul class="list-group">
            {% for k, v in platform_dict.items %}
                <a id="{{k}}" class="list-group-item active">{{k}}</a>
                {% for p in v %}
                    <li class="list-group-item">
                        <img src="{{p.images.first.link}}" height="50" width="50" />
                        <a href="/platform/{{p.pk}}">{{p.name}}</a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
