{% extends 'base.html' %}

{% block navbar_queries %} active {% endblock %}

{% load idb_filters %}

{% block title %}
IVGDb &middot; SQL Queries
{% endblock title %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Fabulous Queries</h1></div>
        <ul class="list-group">
            {% for q in queries %}
                <a class="list-group-item active">{{ q.description }}</a>
                <li class="list-group-item">{{ q.sql|tab|linebreaksbr }}</li>
                <li class="list-group-item">
                    <table class="query">
                        {% for r in q.results %}
                            <tr>
                                {% for i in r %}
                                    <td>
                                        {{ i }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}