{% extends 'base.html' %}

{% block title %}
IVGDb &middot; Search | {{ query }}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Search results for <em class="text-info">{{ query }}</em></h1></div>
        {% if not game_results and not platform_results and not developer_results %}
            <div class="panel-body text-danger">
                Your search didn't match anything!
            </div>
        {% else %}
            <div class="panel-body" align="center">
                {{developer_results|length}} Developer{% if developer_results|length != 1 %}s{% endif %} - 
                {{platform_results|length}} Platform{% if platform_results|length != 1 %}s{% endif %} - 
                {{game_results|length}} Game{% if game_results|length != 1 %}s{% endif %}
            </div>
        {% endif %}
        <ul class="list-group">
            {% if developer_results %}
                <a class="list-group-item active">Developers</a>
                {% for d in developer_results %}
                    <li class="list-group-item">
                        <img src="{{d.images.first.link}}" height="50" width="50" />
                        <a href="/developer/{{d.pk}}">{{d.name}}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if platform_results %}
                <a class="list-group-item active">Platforms</a>
                {% for p in platform_results %}
                    <li class="list-group-item">
                        <img src="{{p.images.first.link}}" height="50" width="50" />
                        <a href="/platform/{{p.pk}}">{{p.name}}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if game_results %}
                <a class="list-group-item active">Games</a>
                {% for g in game_results %}
                    <li class="list-group-item">
                        <img src="{{g.images.first.link}}" height="50" width="50" />
                        <a href="/game/{{g.pk}}">{{g.title}}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock content %}









<!-- <div class="container well">
  <h1>Search results for <em class="text-info">{{ query }}</em></h1>
  <hr/>
  <ul style="list-style-type: none">
    {% if developer_results %}
      <h2>Developers</h2>
    {% endif %}
    {% for d in developer_results %}
      <li style="margin-left: 20px"><a href="/developer/{{ d.pk }}">{{d.name}}</a></li>
    {% endfor %}

    {% if platform_results %}
      <h2>Platforms</h2>
    {% endif %}
    {% for p in platform_results %}
      <li style="margin-left: 20px"><a href="/platform/{{ p.pk }}">{{p.name}}</a></li>
    {% endfor %}

    {% if game_results %}
      <h2>Games</h2>
    {% endif %}
    {% for g in game_results %}
      <li style="margin-left: 20px"><a href="/game/{{ g.pk }}">{{g.title}}</a></li>
    {% endfor %}
  </ul>
  {% if not game_results and not platform_results and not developer_results %}
    <h2 class="text-danger">Your search didn't match anything!</h2>
  {% endif %}
</div> -->
