{% extends 'base.html' %}

{% block title %}
IVGDb &middot; Game | The Wonderful 101
{% endblock title %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h1>The Wonderful 101</h1></div>
	  <div class="panel-body">
			<img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/en/e/ee/Wonderful_101_box_artwork.jpg" alt="The Wonderful 101">
			</img>
	  </div>

	  <!-- List group -->
	  <ul class="list-group">
		<li class="list-group-item"><b>Publisher:</b> Nintendo</li>
	    <li class="list-group-item"><b>US Release Date:</b> September 15, 2013</li>
	    <li class="list-group-item"><b>ESRB Rating:</b> T</li>
	    <li class="list-group-item"><b>Genre:</b> Action</li>
	    <li class="list-group-item"><b>Developed by:</b> <a href="platinum_games.html">Platinum Games</a></li>
	    <li class="list-group-item"><b>Platform(s):</b> <a href="wii_u.html">Wii U</a></li>
	    <li class="list-group-item">
			<div class="media-container">
				<iframe src="//www.youtube.com/embed/bNefE89DZds" frameborder="0" allowfullscreen></iframe>
			</div>
		</li>
	  </ul>
	</div>

</div>
{% endblock content %}
