{% extends 'base.html' %}

{% block title %}
IVGDb &middot; Platform | Wii U
{% endblock title %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h1>Wii U</h1></div>
	  <div class="panel-body">
			<img class="img-rounded" src="http://timenerdworld.files.wordpress.com/2012/11/top10_gadgets_wiiu.jpg?w=480&h=320&crop=1" alt="Wii U">
			</img>
	  </div>

	  <!-- List group -->
	  <ul class="list-group">
	    <li class="list-group-item"><b>Manufacturer:</b> Nintendo</li>
	    <li class="list-group-item"><b>Release Date:</b> November 18, 2012</li>
	    <li class="list-group-item"><b>Media:</b> Physical (disk) and digital</li>
	    <li class="list-group-item"><b>Generation:</b> 8th </li>
	    <li class="list-group-item"><b>Developer(s): </b> <a href="platinum_games.html">Platinum Games</a></li>
	    <li class="list-group-item"><b>Game(s):</b> <a href="the_wonderful_101.html">The Wonderful 101</a></li>
	  </ul>
	</div>

</div>
{% endblock content %}