{% extends 'base.html' %}

{% block title %}
IVGDb &middot; Platform | Xbox 360
{% endblock title %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h1>Xbox 360</h1></div>
	  <div class="panel-body">
			<img class="img-responsive" img src="http://download.gamezone.com/uploads/image/data/1148015/article_post_width_xbox-360-small.jpg" alt="Xbox 360">
			</img>

	  </div>

	  <!-- List group -->
	  <ul class="list-group">
	    <li class="list-group-item"><b>Manufacturer:</b> Microsoft</li>
	    <li class="list-group-item"><b>Release Date:</b> November 22, 2005</li>
	    <li class="list-group-item"><b>Media:</b> Physical (disk) and digital</li>
	    <li class="list-group-item"><b>Generation:</b> 7th </li>
	    <li class="list-group-item"><b>Developer(s): </b> <a href="infinity_ward.html">Infinity Ward</a></li>
	    <li class="list-group-item"><b>Game(s):</b> <a href="call_of_duty_4.html">Call of Duty 4: Modern Warfare</a></li>
	    <div class="row">
	    	<div class="col-md-8">
			    <li class="list-group-item"><iframe width="560" height="315" src="//www.youtube.com/embed/n0VOM7e5Hug" frameborder="0" allowfullscreen></iframe></li>
	    	</div>
	    	<div class="col-md-4">
			    <li class="list-group-item">
						<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Xbox" data-widget-id="446089933564805120">Tweets by @Xbox</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			    </li>
	    	</div>
	    </div>
	  </ul>

	</div>

</div>
{% endblock content %}
